<a href="https://colab.research.google.com/github/LGLV-Ciencia-de-Datos/Curso_python_Ciencia_de_Datos/blob/main/3.%20Pandas/e)%20Data%20Types%20and%20Missing%20Values/Data%20Types%20and%20Missing%20Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tipos de datos y valores faltantes** (Data Types and Missing Values)

Soluciona los problemas más comunes que impiden el progreso.

### **Introducción**

En este tutorial, aprenderás a investigar los tipos de datos dentro de un DataFrame o Series. También, aprenderás a encontrar y reemplazar entradas.

In [ ]:
import pandas as pd

In [ ]:
reviews = pd.read_csv('https://raw.githubusercontent.com/davestroud/Wine/refs/heads/master/winemag-data-130k-v2.csv', index_col = 0)

In [ ]:
# reviews.index.dtype

dtype('int64')

Alternativamente, la propiedad `.dtypes` devuelve el tipo de dato de cada columna en el DataFrame.

In [ ]:
# reviews.dtypes

Los tipos de datos nos informan sobre cómo pandas almacena la información internamente. `float64` significa que usa un número de punto flotante de 64 bits; `int64` significa que usa un número entero de un tamaño similar, y así sucesivamente.

Una particularidad a tener en cuenta (y que se muestra muy claramente aquí) es que las columnas que consisten completamente en cadenas de texto no tienen un tipo propio; en su lugar, se les asigna el tipo object.

Es posible convertir una columna de un tipo a otro, siempre que dicha conversión tenga sentido, usando la función `astype()`. Por ejemplo, podemos transformar la columna de points de su tipo de datos int64 a un tipo de datos float64:

In [ ]:
# reviews.points.astype('float64')

El índice `index` de un DataFrame o Series también tiene su propio tipo de datos `dtype`.

In [ ]:
# reviews.index.dtype

dtype('int64')

### **Datos faltantes** (Missing data)

Las entradas a las que les faltan valores reciben el valor NaN, abreviatura de "Not a Number" (No es un número). Por razones técnicas, estos valores NaN son siempre del tipo de dato float64.

Pandas proporciona algunos métodos específicos para los datos faltantes. Para seleccionar las entradas NaN, puedes usar `pd.isnull()` (o su método complementario `pd.notnull()`). Esto está pensado para usarse de la siguiente manera:

In [ ]:
# reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [ ]:
# reviews[pd.isnull(reviews.country)]

Reemplazar los valores faltantes es una operación común. Pandas proporciona un método muy útil para este problema: `fillna()`. El método `fillna()` ofrece diferentes estrategias para lidiar con este tipo de datos. Por ejemplo, podemos simplemente reemplazar cada NaN con un "Desconocido":

In [ ]:
# reviews.region_2.fillna("Unknown")

O podríamos rellenar cada valor faltante con el primer valor no nulo que aparezca en algún momento después del registro dado en la base de datos. Esto se conoce como la estrategia de relleno hacia atrás o `backfill`.

De manera alternativa, es posible que tengamos un valor no nulo que deseamos reemplazar. Por ejemplo, supongamos que desde que se publicó este conjunto de datos, la crítica Kerin O'Keefe ha cambiado su nombre de usuario en Twitter de @kerinokeefe a @kerino. Una forma de reflejar este cambio en el conjunto de datos es usando el método `replace()`:

In [ ]:
# reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

In [ ]:
# reviews['taster_twitter_handle']

El método `replace()` vale la pena mencionarlo aquí porque es útil para reemplazar datos faltantes a los que se les ha asignado algún tipo de valor centinela en el conjunto de datos: cosas como "Unknown" (Desconocido), "Undisclosed" (No revelado), "Invalid" (Inválido), etcétera.