# Aritm√©tica y variables

Este ejercicio le permitir√° comenzar a ejecutar su propio c√≥digo.
Configure el cuaderno

Para comenzar, ejecute el c√≥digo en la siguiente celda.

Comience haciendo clic dentro de la celda del c√≥digo.
Haga clic en el tri√°ngulo (con la forma de un "bot√≥n de reproducci√≥n") que aparece a la izquierda de la celda del c√≥digo.
Si su c√≥digo se ejecut√≥ correctamente, ver√° Configuraci√≥n completa como resultado debajo de la celda.

En lugar de hacer clic en el tri√°ngulo, tambi√©n puede ejecutar el c√≥digo presionando Shift + Enter en su teclado. ¬°Pru√©belo ahora! No ocurrir√° nada malo si ejecuta el c√≥digo m√°s de una vez.

### Pregunta 1

A continuaci√≥n, ejecutar√° parte del c√≥digo del tutorial para que pueda ver c√≥mo funciona. Ejecute la siguiente celda de c√≥digo sin cambios.

In [ ]:
print("¬°Hola mundo!")

Acabas de ejecutar el c√≥digo para imprimir ¬°Hola mundo!, que deber√≠as ver en el resultado anterior.

### Pregunta 2

Ahora, imprimir√° otro mensaje de su elecci√≥n. Para ello, cambie print("¬°Su mensaje aqu√≠!") para utilizar un mensaje diferente. Por ejemplo, puede cambiarlo a algo como:

print("¬°Buenos d√≠as!")
print("Estoy aprendiendo a codificar :D")

O puede ver qu√© sucede si escribe algo como print("3+4"). ¬øDevuelve 7 o simplemente piensa en "3+4" como otro mensaje m√°s?

Aseg√∫rese de que su mensaje est√© entre comillas (") y que el mensaje en s√≠ no utilice comillas. Por ejemplo, esto generar√° un error: print("Ella dijo "gran trabajo" y me dio un "high-five!") porque el mensaje contiene comillas. Si decide realizar el curso de Python despu√©s de completar este curso, aprender√° m√°s sobre c√≥mo evitar este error en la Lecci√≥n 6.

¬°Si√©ntase libre de probar varios mensajes!

In [ ]:
# TODO: Change the message
print("¬°Su mensaje aqu√≠!")

### Pregunta 3

Como aprendiste en el tutorial, un comentario en Python tiene un signo de numeral (#) delante, que le indica a Python que ignore el texto que lo sigue.

Poner un signo de numeral delante de una l√≠nea de c√≥digo har√° que Python ignore ese c√≥digo. Por ejemplo, Python ignorar√≠a esta l√≠nea y no aparecer√≠a nada en el resultado:

* #print(1+2)

Quitar el signo de numeral har√° que puedas ejecutar el c√≥digo nuevamente. Cuando eliminamos el signo de numeral delante de una l√≠nea de c√≥digo, lo llamamos descomentar.

En este problema, descomentar√°s dos l√≠neas en la celda de c√≥digo a continuaci√≥n y ver√°s el resultado:

Elimina el # de suma. Para evitar errores, NO elimines el # delante de # Descomentar para ver la sugerencia.
A continuaci√≥n, elimina el # de print('El resultado de la suma es:', suma).

In [ ]:
# Descomentar para ver la sugerencia.

# suma = 3+4
print(suma)

# Desconeta para ver el resultado.

# print('El resultado de la suma es:', suma)

### Pregunta 4

En el tutorial, defini√≥ varias variables para calcular la cantidad total de segundos en un a√±o. Ejecute la siguiente celda de c√≥digo para realizar el c√°lculo aqu√≠.

In [ ]:
# Create variables
num_years = 4
days_per_year = 365
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

Utilice la siguiente celda de c√≥digo para:

Defina una variable births_per_min y config√∫rela en 250. (En promedio, nacen 250 beb√©s cada minuto).
Defina una variable births_per_day que contenga la cantidad promedio de beb√©s que nacen cada d√≠a. (Para establecer el valor de esta variable, debe utilizar births_per_min y algunas de las variables de la celda de c√≥digo anterior).

In [ ]:
# TODO: Set the value of the births_per_min variable
births_per_min = ___

# TODO: Set the value of the births_per_day variable
births_per_day = ___

### üå∂Ô∏è Pregunta 5

(¬°Las preguntas marcadas con un üå∂Ô∏è ser√°n un poco m√°s desafiantes que las dem√°s! Recuerda que siempre puedes obtener una pista o ver la soluci√≥n).

La competencia Titanic es la competencia de ciencia de datos m√°s famosa de Kaggle. En esta competencia, los participantes tienen el desaf√≠o de construir un modelo de aprendizaje autom√°tico que pueda predecir si los pasajeros sobrevivieron o no al naufragio del Titanic, en funci√≥n de informaci√≥n como la edad, el sexo, el tama√±o de la familia y el n√∫mero de boleto.

Ejecuta la siguiente celda de c√≥digo sin cambios para cargar y obtener una vista previa de los datos del Titanic.

No te preocupes por los detalles del c√≥digo por ahora: el resultado final es simplemente que todos los datos del Titanic se han cargado en una variable llamada titanic_data. (Para aprender a escribir este c√≥digo t√∫ mismo, puedes tomar el curso de Python y luego el curso de Pandas).

In [ ]:
pip install pandas

In [7]:
import pandas as pd
url = 'https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/titanic.csv'
titanic_data = pd.read_csv(url)
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Los datos tienen una fila diferente para cada pasajero.

La siguiente celda de c√≥digo define e imprime los valores de tres variables:

* total = n√∫mero total de pasajeros que abordaron el barco
* survivor = n√∫mero de pasajeros que sobrevivieron al naufragio
* minors = n√∫mero de pasajeros menores de 18 a√±os

Ejecute la celda de c√≥digo sin cambios. (No se preocupe por los detalles de c√≥mo se calculan estas variables por ahora. Puede obtener m√°s informaci√≥n sobre c√≥mo calcular estos valores en el curso de Pandas).

In [5]:
# Number of total passengers
total = len(titanic_data)
print(total)

# Number of passengers who survived
survived = (titanic_data.Survived == 1).sum()
print(survived)

# Number of passengers under 18
minors = (titanic_data.Age < 18).sum()
print(minors)

891
342
113

Por lo tanto,

* total = 891 (hab√≠a 891 pasajeros a bordo del Titanic),
* survived = 342 (342 pasajeros sobrevivieron) y
* minors = 113 (113 pasajeros eran menores de 18 a√±os).

En la celda de c√≥digo a continuaci√≥n, reemplace los guiones bajos (____) con c√≥digo para calcular los valores de dos variables m√°s:

* survived_fraction debe configurarse como la fracci√≥n de pasajeros que sobrevivieron al desastre del Titanic.
* minors_fraction debe ser la fracci√≥n de pasajeros que eran menores (menores de 18 a√±os).

Para cada variable, su respuesta debe ser un n√∫mero entre 0 y 1.

In [ ]:
# TODO: Fill in the value of the survived_fraction variable
survived_fraction = survived/total
# Print the value of the variable
print(survived_fraction)

# TODO: Fill in the value of the minors_fraction variable
minors_fraction = minors/total

# Print the value of the variable
print(minors_fraction)

debes obtener:

* 0.3838383838383838
* 0.12682379349046016

De lo contrario, verifica tu codigo.